/****************************************************
RESPONSIVE
*****************************************************/

/* Tablet Landscape */
@media screen and (max-width: 1060px) {

 
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    .oxo-footer .oxo-columns-4 .oxo-column,
    .oxo-footer .oxo-columns-5 .oxo-column,
    .oxo-footer .oxo-columns-6 .oxo-column,
    .oxo-footer .oxo-columns-7 .oxo-column,
    .oxo-layout-column.oxo-one-fourth,
    .oxo-layout-column.three-fourth,
    .oxo-layout-column.oxo-one-fifth,
    .oxo-layout-column.oxo-two-fifth,
    .oxo-layout-column.oxo-three-fifth,
    .oxo-layout-column.oxo-four-fifth,
    .oxo-layout-column.oxo-one-sixth,
    .oxo-layout-column.oxo-five-sixth{
        float:none !important;
        display: block !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .oxo-logo {
        float: none;
        text-align: center;
    }
    .oxo-mobile-menu-icons{
      display: block !important;
    }
    .oxo-mobile-nav-holder {
        display: block !important;
    }
    .oxo-main-menu {
        display: none;
    }

}

/* Tabled Portrait */
@media screen and (max-width: 640px) {
    .oxo-footer .oxo-columns .oxo-column,
    .oxo-layout-column{
        float:none !important;
        display: block !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .oxo-logo {
        float: none;
        text-align: center;
    }
    .oxo-mobile-menu-icons{
      display: block !important;
    }
    .oxo-mobile-nav-holder {
        display: block !important;
    }
    .oxo-main-menu {
        display: none;
    }
}



/****************************************************
Reset
*****************************************************/
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}
.justify-align{
    text-align: justify;
}


.border{
    border: 1px solid #e8e8e8;
}
.shadow{
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
    webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
}
.shadow:hover{
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

label,
.gform_wrapper .top_label .gfield_label {
    font-size: 18px;
    line-height:28px;
    font-weight: 300;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

.field {
    margin-bottom: 20px;
}
.acf-checkbox-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*
'.input-text',
        'input[type="text"]',
        'textarea',
        'input.s',
        '#comment-input input',
        '#comment-textarea textarea',
        '.comment-form-comment textarea',
        '.post-password-form label input[type="password"]',
        '.main-nav-search-form input',
        '.search-page-search-form input',
        '.chzn-container-single .chzn-single',
        '.chzn-container .chzn-drop',
        '.aione-select-parent select',
        '.aione-select .select2-container .select2-choice',
        '.aione-select .select2-container .select2-choice2',
        'select',
        '#wrapper .search-table .search-field input'

        if ( class_exists( 'GFForms' ) ) {
        $elements[] = '.gform_wrapper .gfield input[type="text"]';
        $elements[] = '.gform_wrapper .gfield input[type="email"]';
        $elements[] = '.gform_wrapper .gfield input[type="tel"]';
        $elements[] = '.gform_wrapper .gfield input[type="url"]';
        $elements[] = '.gform_wrapper .gfield input[type="number"]';
        $elements[] = '.gform_wrapper .gfield input[type="password"] input[type="number"]';
        $elements[] = '.gform_wrapper .gfield input[type="password"]';
        $elements[] = '.gform_wrapper .gfield_select[multiple=multiple]';
        $elements[] = '.gform_wrapper .gfield select';
        $elements[] = '.gform_wrapper .gfield textarea';

        if ( defined( 'WPCF7_PLUGIN' ) ) {
        $elements[] = '.wpcf7-form .wpcf7-text';
        $elements[] = '.wpcf7-form .wpcf7-quiz';
        $elements[] = '.wpcf7-form .wpcf7-number';
        $elements[] = '.wpcf7-form textarea';
        $elements[] = '.wpcf7-form .wpcf7-select';
        $elements[] = '.wpcf7-captchar';
        $elements[] = '.wpcf7-form .wpcf7-date';
        
        if ( class_exists( 'bbPress' ) ) {
        $elements[] = '#bbpress-forums .bbp-search-form #bbp_search';
        $elements[] = '.bbp-reply-form input#bbp_topic_tags';
        $elements[] = '.bbp-topic-form input#bbp_topic_title';
        $elements[] = '.bbp-topic-form input#bbp_topic_tags';
        $elements[] = '.bbp-topic-form select#bbp_stick_topic_select';
        $elements[] = '.bbp-topic-form select#bbp_topic_status_select';
        $elements[] = '#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content';
        $elements[] = '.bbp-login-form input';

        if( class_exists( 'Tribe__Events__Main' ) )
        $elements[] = '#tribe-bar-form input[type=text]';
        $elements[] = '.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text]';

*/

.gform_wrapper {
  margin-bottom: 50px;
}
.gform_wrapper ul.gform_fields {
  padding: 0;
  list-style-type: none;
}
.gform_wrapper li,
.gform_wrapper form li {
  list-style: outside none none;
  margin-left: 0;
}
.gform_wrapper .gfield input[type=text],
.gform_wrapper .gfield input[type=email],
.gform_wrapper .gfield input[type=tel],
.gform_wrapper .gfield input[type=url],
.gform_wrapper .gfield input[type=number],
.gform_wrapper .gfield input[type=password] input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper .gfield textarea {
  border: 1px solid #d2d2d2;
  font-size: 13px;
  color: #747474;
  padding: 8px 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.gform_wrapper .gfield textarea {
  padding: 8px;
}
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea {
  width: 100%;
}
.gform_wrapper .right_label input.medium,
.gform_wrapper .left_label input.medium,
.gform_wrapper .right_label select.medium,
.gform_wrapper .left_label select.medium {
  width: 35% !important;
}
.gform_wrapper .left_label .gfield_label {
  font-weight: normal;
}
.gform_wrapper .gform_page_footer input[type=button],
.gform_wrapper .gform_button {
  padding: 9px 20px;
  line-height: 14px;
  font-size: 12px;
}
.gform_wrapper .gform_page_footer input[type=button].button-3d:active,
.gform_wrapper .gform_button.button-3d:active {
  top: 2px;
}
.gform_wrapper .gform_page_footer input[type=button] .oxo-button-text-left,
.gform_wrapper .gform_button .oxo-button-text-left {
  display: inline-block;
  padding-left: 25px;
}
.gform_wrapper .gform_page_footer input[type=button] .oxo-button-text-right,
.gform_wrapper .gform_button .oxo-button-text-right {
  display: inline-block;
  padding-right: 25px;
}
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left,
.gform_wrapper .gform_button .button-icon-divider-left {
  padding: 0 10px;
}
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left.oxo-megamenu-image,
.gform_wrapper .gform_button .button-icon-divider-left.oxo-megamenu-image {
  padding: 0 5px;
}
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right,
.gform_wrapper .gform_button .button-icon-divider-right {
  padding: 0 10px;
}
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right.oxo-megamenu-image,
.gform_wrapper .gform_button .button-icon-divider-right.oxo-megamenu-image {
  padding: 0 5px;
}
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left i,
.gform_wrapper .gform_button .button-icon-divider-left i,
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right i,
.gform_wrapper .gform_button .button-icon-divider-right i,
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-left img,
.gform_wrapper .gform_button .button-icon-divider-left img,
.gform_wrapper .gform_page_footer input[type=button] .button-icon-divider-right img,
.gform_wrapper .gform_button .button-icon-divider-right img {
  top: 50%;
  margin-top: -6px;
  display: block;
}
.gform_wrapper .gfield_select[multiple=multiple] {
  border: 1px solid #d2d2d2;
}
.gform_wrapper .gravity-select-parent select,
.gform_wrapper .gravity-select-parent .ginput_complex select,
.gform_wrapper .ginput_complex .ginput_right .gravity-select-parent select {
  width: 100%;
  text-indent: 2px;
}
.gform_wrapper label {
  font-weight: normal;
}
.gform_wrapper .gfield_time_hour label {
  display: inline;
}
.gform_wrapper .gform_footer {
  padding: 0;
}
.gform_wrapper span.ginput_total {
  font-size: 18px;
}
.gform_wrapper .gravity-select-parent {
  position: relative;
  overflow: hidden;
}
.gform_wrapper .gravity-select-parent .select-arrow {
  height: 34px;
}
.gform_wrapper .ginput_complex .gravity-select-parent {
  width: 95% !important;
}
.gform_wrapper .gravity-select-parent select {
  -webkit-appearance: none;
  text-overflow: '';
  background: #fbfaf9;
  border: 1px solid #dadada;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 13px;
  outline: none;
  height: auto;
  padding: 8px 15px;
  position: relative;
  text-indent: 0.01px;
  vertical-align: middle;
  z-index: 5;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  min-width: 70px;
}
.gform_wrapper .gform_wrapper select {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.gform_wrapper .gfield_list_icons img {
  margin-top: 4px !important;
}
.gform_wrapper .top_label .gfield_label {
  margin-bottom: 0 !important;
}
.gform_wrapper ul li.gfield {
  margin-bottom: 15px;
}
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_time_hour label {
  margin-bottom: 0 !important;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: 3% !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio],
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
  margin-top: .1em !important;
}
.gfield_time_ampm .gravity-select-parent select {
  height: 33px;
  padding-left: 6px !important;
  min-width: 61px !important;
}
.gfield_time_ampm .select-arrow {
  width: 31px;
  height: 31px;
}
#wrapper .entry-summary .gform_wrapper ul li {
  clear: none !important;
}
#wrapper .gform_wrapper .gravity-select-parent select {
  margin: 0;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
  margin-left: 3px !important;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-number,
.wpcf7-form textarea {
  float: none !important;
  width: 100% !important;
  box-sizing: border-box;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date {
  border: 1px solid #d2d2d2;
  width: 28%;
  font-size: 13px;
  color: #747474;
  padding: 8px 15px;
  float: left;
  margin-right: 1%;
}
.wpcf7-form input[type="submit"] {
  padding: 5px 15px;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date {
  float: none;
}
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date {
  width: 100%;
  margin-right: 0;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-number,
.wpcf7-form textarea,
.wpcf7-form .wpcf7-captchar,
.wpcf7-form .wpcf7-date {
  width: 100%;
  margin-right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.wpcf7-form input {
  float: none;
}
.wpcf7-form textarea {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 150px;
  font-size: 13px;
  color: #747474;
  padding: 8px 11px;
  margin-right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
} 
.wpcf7-form input[type="submit"] {
  width: auto;
  font-weight: bold;
  cursor: pointer;
}
.wpcf7-form .wpcf7-not-valid-tip {
  display: inline;
}
.wpcf7-form .wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  padding: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
}
.wpcf7-form .wpcf7-validation-errors {
  background-color: #f2dede;
  border: 1px solid #b94a48;
  color: #b94a48;
}
.wpcf7-form .wpcf7-mail-sent-ok {
  background-color: #dff0d8;
  border: 1px solid #468847;
  color: #468847;
}
.sidebar .wpcf7-form .wpcf7-text,
.sidebar .wpcf7-form .wpcf7-quiz,
.sidebar .wpcf7-form .wpcf7-number {
  width: 100%;
  margin-right: 0;
}
.wpcf7-select-parent {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wpcf7-select-parent .select-arrow {
  width: 35px;
  height: 33px;
  line-height: 33px;
  border-left: 1px solid #dadada;
  position: absolute;
  top: 1px;
  right: 1px;
  background: #fff;
  pointer-events: none;
  z-index: 10;
  font-family: 'icomoon';
  font-size: 9px;
  text-align: center;
}
.wpcf7-select-parent .wpcf7-select {
  -webkit-appearance: none;
  text-overflow: '';
  background: #fbfaf9;
  border: 1px solid #dadada;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 13px;
  outline: none;
  height: auto;
  width: 100%;
  padding: 8px 15px;
  position: relative;
  text-indent: 0.01px;
  vertical-align: middle;
  z-index: 5;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

.input-text,
input[type="text"],
#tribe-bar-form input[type=text],
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text] {

  margin-right: 1%;
  box-sizing: border-box;
}
#tribe-bar-form input[type=text]::-webkit-input-placeholder {
  font-style: normal;
}
#tribe-bar-form input[type=text]:-moz-placeholder {
  font-style: normal;
}
#tribe-bar-form input[type=text]::-moz-placeholder {
  font-style: normal;
}
#tribe-bar-form input[type=text]:-ms-input-placeholder {
  font-style: normal;
}

input[type="text"], 
input[type="password"], 
input[type="email"],  
input[type="color"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="week"], 
select,
textarea,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper .gfield textarea{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 100%;
    min-height: 50px;
    padding: 10px 10px;
    margin: 0;
    color: #666666;
    background-color: #faf8f7;
    border: 1px solid #e8e8e8;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

input[type=submit],
 .oxo-body #main .gform_wrapper .gform_footer input.button, 
 .oxo-body #main .gform_wrapper .gform_footer input[type=submit], 
.oxo-body #main .gform_wrapper .gform_page_footer input.button, 
.oxo-body #main .gform_wrapper .gform_page_footer input[type=submit] {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border: none;
    color: #ffffff;
    background-color: #454545;
    padding: 12px 30px 13px 30px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


input[type=submit]:hover,
.oxo-body #main .gform_wrapper .gform_footer input.button:hover, 
.oxo-body #main .gform_wrapper .gform_footer input[type=submit]:hover, 
.oxo-body #main .gform_wrapper .gform_page_footer input.button:hover, 
.oxo-body #main .gform_wrapper .gform_page_footer input[type=submit]:hover {
    color: #ffffff;
    background-color: #121212;
}

::-webkit-input-placeholder{
  color: #a8a8a8;
}
::-moz-placeholder{
  color: #a8a8a8;
}
:-ms-input-placeholder{
  color: #a8a8a8;
}
:-moz-placeholder{
  color: #a8a8a8;
}
:placeholder{
  color: #a8a8a8;
}



/****************************************************
Reset
*****************************************************/


















.header-v4 #header {
    padding-bottom: 0px;
    padding-top: 0px;
}
.header-social {
    background-color: #f2f2f2;
    -moz-box-shadow: 0px 0px 3px #969696;
    -webkit-box-shadow: 0px 0px 3px #969696;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#969696)";
    box-shadow: 0px 0px 3px #969696;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#969696);
}


.topbar-item {
    display: inline-block;
    float: left;
    line-height: 42px;
    padding: 0 0 0 10px;

}

.topbar-item:first-child {
    padding-left: 0;

}

.topbar-item::after {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 0 0 10px;
    content: '';

    background-color: RGBA(0, 0, 0, 0.2);

    -moz-box-shadow: inset 1px 1px 2px #666;
    -webkit-box-shadow: inset 1px 1px 2px #666;
    box-shadow: inset 1px 1px 2px #666;

    -moz-border-radius: 999px; /*Firefox*/
    -webkit-border-radius: 999px; /*Safari, Chrome*/
    border-radius: 999px;
}

.topbar-item:last-child::after {
    display: none;
    margin: 0;
    content: '';
}

#top-menu-separator,#social-links-separator,#top-menu-separator:after,#social-links-separator:after{ margin: 0; padding: 0;}
.header-social .alignright .aione-social-links-header .aione-social-network-icon {
    margin-right: 0;
    margin-left: 10px;
}

.top-menu{
    display: inline-block;
    float: left;
}
#topbar-custom{
    float:right;
}

#logo {
    display: inline-block;
    float: left;
    position: relative;
}

#logo_text {
    display: inline-block;
    float: left;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
}

#site_name {
    font-size: 48px;
    line-height: 64px;
}

#site_description {
    font-size: 18px;
    line-height: 18px;
}

.underline-left > li > a span.menu-item-text::after,
.underline-right > li > a span.menu-item-text::after,
.underline-up > li > a span.menu-item-text::after,
.underline-down > li > a span.menu-item-text::after{
    position: relative;
    display: block;
    margin-top: -4px;
    width: 0px;
    content: '';
    transition: 0.5s ease;
    height: 4px;
}

.underline-right > li > a span.menu-item-text::after{
    float: right;
}

.underline-up > li > a span.menu-item-text::after {
    width: 100%;
    height: 4px;
    opacity: 0;
    margin-top: -15px;
}

.underline-down > li > a span.menu-item-text::after {
    height: 4px;
    margin-top: 0px;
    width: 100%;
}

.underline-left > li > a:hover span.menu-item-text::after,
.underline-left > li.current_page_item > a span.menu-item-text::after,
.underline-left > li.current_menu_item > a span.menu-item-text::after,
.underline-left > li.current-menu-parent > a span.menu-item-text::after,
.underline-left > li.current-menu-ancestor > a span.menu-item-text::after,
.underline-right > li > a:hover span.menu-item-text::after,
.underline-right > li.current_page_item > a span.menu-item-text::after,
.underline-right > li.current_menu_item > a span.menu-item-text::after,
.underline-right > li.current-menu-parent > a span.menu-item-text::after,
.underline-right > li.current-menu-ancestor > a span.menu-item-text::after{
    width: 100%;
}

.underline-up > li > a:hover span.menu-item-text::after,
.underline-up > li.current_page_item > a span.menu-item-text::after,
.underline-up > li.current_menu_item > a span.menu-item-text::after,
.underline-up > li.current-menu-parent > a span.menu-item-text::after,
.underline-up > li.current-menu-ancestor > a span.menu-item-text::after,
.underline-down > li > a:hover span.menu-item-text::after,
.underline-down > li.current_page_item > a span.menu-item-text::after,
.underline-down > li.current_menu_item > a span.menu-item-text::after,
.underline-down > li.current-menu-parent > a span.menu-item-text::after,
.underline-down > li.current-menu-ancestor > a span.menu-item-text::after {
    margin-top: -4px;
    opacity: 1;
}







.topline-left > li > a span.menu-item-text::after,
.topline-right > li > a span.menu-item-text::after,
.topline-up > li > a span.menu-item-text::after,
.topline-down > li > a span.menu-item-text::after{
    position: absolute;
    display: block;
    top: 0px;
    width: 0px;
    content: '';
    transition: 0.5s ease;
    height: 4px;
}

.topline-right > li > a span.menu-item-text::after{
    right: 0;
}

.topline-up > li > a span.menu-item-text::after {
    width: 100%;
    height: 4px;
    opacity: 0;
    top: 15px;
}

.topline-down > li > a span.menu-item-text::after {
    height: 4px;
    margin-top: -15px;
    width: 100%;
    opacity: 0;
}

.topline-left > li > a:hover span.menu-item-text::after,
.topline-left > li.current_page_item > a span.menu-item-text::after,
.topline-left > li.current_menu_item > a span.menu-item-text::after,
.topline-left > li.current-menu-parent > a span.menu-item-text::after,
.topline-left > li.current-menu-ancestor > a span.menu-item-text::after,
.topline-right > li > a:hover span.menu-item-text::after,
.topline-right > li.current_page_item > a span.menu-item-text::after,
.topline-right > li.current_menu_item > a span.menu-item-text::after,
.topline-right > li.current-menu-parent > a span.menu-item-text::after,
.topline-right > li.current-menu-ancestor > a span.menu-item-text::after{
    width: 100%;
}

.topline-up > li > a:hover span.menu-item-text::after,
.topline-up > li.current_page_item > a span.menu-item-text::after,
.topline-up > li.current_menu_item > a span.menu-item-text::after,
.topline-up > li.current-menu-parent > a span.menu-item-text::after,
.topline-up > li.current-menu-ancestor > a span.menu-item-text::after,
.topline-down > li > a:hover span.menu-item-text::after,
.topline-down > li.current_page_item > a span.menu-item-text::after,
.topline-down > li.current_menu_item > a span.menu-item-text::after,
.topline-down > li.current-menu-parent > a span.menu-item-text::after,
.topline-down > li.current-menu-ancestor > a span.menu-item-text::after {
    top: 0px;
    margin-top: 0px;
    opacity: 1;
}
/* ======================================================= */
/*               Slide Up Down Code                */
/* ======================================================= */
nav#nav > ul.navigation > li#nav_home_icon > a, nav#nav > ul.navigation > li#nav_home_icon > a:visited {
    font-size: 30px;
}

nav#nav > ul.navigation > li > a {
    overflow: hidden;
}

.slide-up > li > a > span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.slide-up > li > a span::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide-up > li > a:hover span,
.slide-up > li > a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.slide-down > li > a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.slide-down > li > a span::after {
    position: absolute;
    top: -100%;
    left: 0;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide-down > li > a:hover span,
.slide-down > li > a:focus span {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

/* ======================================================= */
/*               Slide Right Code                */
/* ======================================================= */

.slide-right > li > a span {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right > li > a span::after {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    content: attr(data-hover);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);

}

.slide-right > li > a:hover span,
.slide-right > li > a:focus span {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

/* ======================================================= */
/*                   Slide Left Code                       */
/* ======================================================= */
.jqueryslidemenu ul.slide-left li a {
    padding: 0;
}

.slide-left > li > a span {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-left > li > a span::after {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    content: attr(data-hover);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);

}

.slide-left > li > a:hover span,
.slide-left > li > a:focus span {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}





/* ======================================================= */
/*                   3D Rotate Left Code                       */
/* ======================================================= */
nav#nav > ul.rotate-left li a{

}
nav#nav > ul.rotate-left > li > a {
    margin: 10px 8px;
    overflow: visible;
}

nav#nav ul.rotate-left > li{
    padding: 0;
}
nav#nav > ul.rotate-left > li > a{
    padding:0 8px;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    width: 200px;

}

.rotate-left > li > a span.menu-item-text {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #e35041;
    -webkit-transition: -webkit-transform 0.4s, background 0.4s;
    -moz-transition: -moz-transform 0.4s, background 0.4s;
    transition: transform 0.4s, background 0.4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -100px;
    -moz-transform-origin: 50% 50% -100px;
    transform-origin: 50% 50% -100px;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.rotate-left > li > a span.menu-item-text::before {
    position: absolute;
    background: #b53a2d;
    content: attr(data-hover);
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    pointer-events: none;

    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;

}

.rotate-left > li > a:hover span,
.rotate-left > li > a:focus span {
    background: #b53a2d;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

/* ======================================================= */
/*                   3D Rotate UP Code                       */
/* ======================================================= */

nav#nav ul.rotate-up > li{
    padding: 0;
}
nav#nav > ul.rotate-up > li > a{


    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;

}

.rotate-up > li > a span.menu-item-text {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding:0 8px;
    background: #e35041;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.rotate-up > li > a span.menu-item-text::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0965a0;

    text-align: center;
    content: attr(data-hover);

    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;



}

.rotate-up > li > a:hover span,
.rotate-up > li > a:focus span {
    background: #b53a2d;
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}


































#nav ul a, #sticky-nav ul a, .side-nav li a, #header-sticky .cart-content a, #header-sticky .cart-content a:hover, #header .cart-content a, #header .cart-content a:hover, #small-nav .cart-content a, #small-nav .cart-content a:hover, #wrapper .header-social .top-menu .cart > a, #wrapper .header-social .top-menu .cart > a > .amount, #wrapper .header-social .top-menu .cart-checkout a{ padding:0 15px;}
.header-v2 .header-social, .header-v3 .header-social, .header-v4 .header-social, .header-v5 .header-social, .header-v2 {
    border-top-color: #1570a6 ;
}

.aione-social-links-header{
    display: inline-block;
    padding: 0;
    float: left;
    margin-right: 10px;

}

#wrapper .header-social{
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#999999)';
    -moz-box-shadow: inset 0px 2px 3px RGBA(0,0,0,0.08);
    -webkit-box-shadow:  inset 0px 2px 3px RGBA(0,0,0,0.08);
    box-shadow: inset 0px 2px 3px RGBA(0,0,0,0.08);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#999999);
}
.header-social .menu li{padding:0;margin-right: -3px; border-color: RGBA(0,0,0,0.06) !important;}
#wrapper .header-social ul.menu li > a {

    padding: 0px 10px;
    line-height: 42px;
    display: block;
    -webkit-transition: all 0.3s ease-out;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;/* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;/* Opera 10.5-12.00 */
    transition: all 0.3s ease-out;/* Firefox 16+, Opera 12.50+ */
}
#wrapper .header-social ul.menu li > a:hover {

}


#nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a, #nav ul ul, .navigation li.current-menu-ancestor a, #sticky-nav ul .current_page_item a, #sticky-nav ul .current-menu-item a, #sticky-nav ul > .current-menu-parent a, #sticky-nav ul ul, .navigation li.current-menu-ancestor a, #nav ul li a:hover, #sticky-nav ul li a:hover{background-color: RGBA(0,0,0,0.02);}


.page-title-container{border-top:none;}
.ls-bar-timer {height: 1px !important; top:-1px; border-bottom: 1px solid #1a80b6;}

.anchor_scroll {
    position: fixed;
    left: 0px;
    top: 30%;
    z-index: 999;
    padding: 0px;
    border: 0px;
}
ul.menu_scroll{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
ul.menu_scroll > li{
    display: block;
    vertical-align: middle;
    text-align: left;
    position: relative;
    margin-top: 1px;
}
ul.menu_scroll > li > a:before{
    content:attr(title);
    height: 40px;
    width: 40px;
    display:block;
    background: #6c6f79;
    color: #FFFFFF;
    font-size: 18px;
    line-height:40px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.6s ease-out;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.6s ease-out;/* Firefox 4-15 */
    -o-transition: all 0.6s ease-out;/* Opera 10.5-12.00 */
    transition: all 0.6s ease-out;/* Firefox 16+, Opera 12.50+ */
}
ul.menu_scroll > li:hover > a:before{
    background: #FFFFFF;
    color: #1a80b6;
}
ul.menu_scroll > li > a{
    z-index:998;
    overflow: hidden;
    height: 40px;
    width: 60px;
    display:block;
    background: #1a80b6;
    color: #FFFFFF;
    font-size: 18px;
    line-height:40px;
    margin-left: -60px;
    padding: 0 10px 0 10px;
    -webkit-transition: all 0.6s ease-out;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.6s ease-out;/* Firefox 4-15 */
    -o-transition: all 0.6s ease-out;/* Opera 10.5-12.00 */
    transition: all 0.6s ease-out;/* Firefox 16+, Opera 12.50+ */
}

ul.menu_scroll > li:hover > a{
    margin-left:40px;
    width:auto;
}

/******************************/
.mymail-form label{ display:none;}
.mymail-wrapper input[type=submit], .mymail-wrapper input[type=text], .mymail-wrapper input[type=password], .mymail-wrapper input[type=file], textarea{float:none;width:100%  !important; }
.mymail-wrapper input[type=submit].submit-button {
    -moz-box-shadow: 0px 0px 0px #333333;/*FF 3.5+*/
    -webkit-box-shadow: 0px 0px 0px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0px 0px 0px #333333 !important;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=90, Color=#333333); /*IE 5.5-7*/
    border: 2px solid #000;
    -moz-border-radius: 0px;/*Firefox*/
    -webkit-border-radius: 0px;/*Safari, Chrome*/
    border-radius: 0px;

    color:#FFFFFF;
    padding: 10px 2% !important;
}
.mymail-wrapper .mymail-loader{ position:absolute;left: 44%;margin: 16px 4px 0 0;}
.mymail-submit-wrapper{float:right;clear:both;width:49%;}
.mymail-firstname-wrapper{ float:left; width:49%;}
.mymail-lastname-wrapper{ float:right; width:49%;}
.mymail-email-wrapper{float:none;clear:both;width:100%;}

.mymail-form .mymail-form-info.error {
    border: 1px solid #cc0000;
    background: #f6f6f6;
    padding: 10px 0 0 10px;
}
.mymail-form .mymail-form-info ul {
    list-style-type: circle;
    margin-top: 4px;
    padding: 0;

}
.mymail-form .mymail-form-info ul li {
    margin-left: 3px;
    color: #cc0000;
}

p:empty { display: none; }