.oxo-layout-column {
  position: relative;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px; }

.oxo-one-full {
  float: none; }

.oxo-one-sixth {
  width: 13.3333%; }

.oxo-five-sixth {
  width: 82.6666%; }

.oxo-one-fifth {
  width: 16.8%; }

.oxo-two-fifth {
  width: 37.6%; }

.oxo-three-fifth {
  width: 58.4%; }

.oxo-four-fifth {
  width: 79.2%; }

.oxo-one-fourth {
  width: 22%; }

.oxo-three-fourth {
  width: 74%; }

.oxo-one-third {
  width: 30.6666%; }

.oxo-two-third {
  width: 65.3333%; }

.oxo-one-half {
  width: 48%; }

.oxo-column-last {
  margin-left: 0;
  margin-right: 0; }

.oxo-spacing-no {
  margin: 0; }
  .oxo-spacing-no.oxo-one-sixth {
    width: 16.6666%; }
  .oxo-spacing-no.oxo-five-sixth {
    width: 83.3333%; }
  .oxo-spacing-no.oxo-one-fifth {
    width: 20%; }
  .oxo-spacing-no.oxo-two-fifth {
    width: 40%; }
  .oxo-spacing-no.oxo-three-fifth {
    width: 60%; }
  .oxo-spacing-no.oxo-four-fifth {
    width: 80%; }
  .oxo-spacing-no.oxo-one-fourth {
    width: 25%; }
  .oxo-spacing-no.oxo-three-fourth {
    width: 75%; }
  .oxo-spacing-no.oxo-one-third {
    width: 33.3333%; }
  .oxo-spacing-no.oxo-two-third {
    width: 66.6666%; }
  .oxo-spacing-no.oxo-one-half {
    width: 50%; }
  .oxo-spacing-no.oxo-column-last {
    margin-left: 0;
    margin-right: 0; }
  .oxo-spacing-no .oxo-column-wrapper {
    min-height: 1px; }

.oxo-equal-height-columns .oxo-column-table {
  display: table;
  table-layout: fixed;
  width: 100%; }
.oxo-equal-height-columns .oxo-column-tablecell {
  display: table-cell;
  vertical-align: middle; }

.oxo-column-inner-bg-wrapper .oxo-column-wrapper {
  position: relative;
  z-index: 2;
  pointer-events: none; }

.oxo-column-inner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .oxo-column-inner-bg a {
    width: 100%;
    height: 100%; }
    .oxo-column-inner-bg a span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
