table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  border-color: #e5e4e3;
}
.table > thead > tr > th,
.table > tbody > tr > th {
  padding: 20px;
  font-weight: bold;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 20px;
}
.table > tfoot > tr > td {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table-1 table,
.tkt-slctr-tbl-wrap-dv table {
  border: 1px solid#dcdcdc;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.table-1 table th,
.tkt-slctr-tbl-wrap-dv table th {
  border: 1px solid #dcdcdc;
  background: #f6f6f6;
  padding: 20px;
  font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif;
  text-align: left;
}
.table-1 tr:nth-child(even),
.tkt-slctr-tbl-wrap-dv tr:nth-child(even) {
  background: #f6f6f6;
}
.table-1 tr td,
.tkt-slctr-tbl-wrap-dv tr td {
  border: 1px solid #dcdcdc;
  padding: 10px 20px;
}
.table-2 table thead {
  border: 1px solid #d3d3d3;
  font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif;
  text-align: left;
}
.table-2 table th {
  padding: 20px;
  color: #fff;
}
.table-2 tr td {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 20px;
}
